$color-blue: #082b59;
$color-navyblue: #131d26;
$color-coffe: #59331d;
$color-peach: #d98555;
$color-white: #f2f2f2;
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Lato", sans-serif;
$basic-font-size: calc(1.25rem + 1vw);
$footer-font-size: Calc(0.75rem + 1vw);
$border-radius: 1rem;
