/*
heading
font-family: 'Poppins', sans-serif;
all-Other
font-family: 'Lato', sans-serif;

#082B59 blue
#131D26 navy blue
#59331D coffee
#D98555 peach
#F2F2F2 white
*/
//@import "variables";
//@import "mixins";
//@import "mediaMobile";
//@import "mediaTablet";
//@import "mediaDesktop";
$color-blue: #082b59;
$color-navyblue: #131d26;
$color-coffe: #59331d;
$color-peach: #d98555;
$color-white: #f2f2f2;
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Lato", sans-serif;
$basic-font-size: 1.25rem;
$footer-font-size: 0.75rem;
$border-radius: 1rem;

body {
  background-color: $color-navyblue;
  font-family: $heading-font-family;
  display: contents;
}
header {
  background-color: $color-blue;
  border: 1rem $color-peach;
  border-style: none none double none;
  font-size: $basic-font-size;
}
nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
li {
  color: $color-white;
  padding: 0.5rem 1.5rem;
  list-style: none;
}
.logo-item {
  width: 250px;
}

// icon padding
i {
  padding: 0.5rem;
}
a {
  color: $color-white;
  &visited {
    color: $color-white;
  }
  &:hover {
    color: $color-peach;
  }
}

mainbody {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: $color-white;
  margin: 3rem rem;
  padding: 3rem;
  color: black;
  .about-body {
    padding: 1.5rem 4rem;
    width: auto;
    min-width: 25rem;
  }
  h1 {
    font-family: $body-font-family;
  }
  p {
    font-family: $body-font-family;
    font-size: $basic-font-size;
  }
  .location-link {
    color: $color-coffe;
    text-decoration-color: $color-blue;
    &:hover {
      color: $color-peach;
    }
  }
}

.button-block {
  background-color: $color-coffe;
  border: 2px solid$color-coffe;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  color: $color-white;
  font-size: $basic-font-size;
  &:hover {
    background-color: $color-peach;
    border: 2px solid $color-peach;
  }
}

.focuse-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $color-coffe;
  background-size: contain;
  border-radius: $border-radius;
  color: $color-white;
  img {
    border-radius: $border-radius $border-radius 0 0;
  }
  p {
    padding: 0.75rem 3rem;
  }
}

/*Products*/

.group-01 {
  flex-flow: row;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}
.group-02 {
  flex-flow: row;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
}
.content {
  flex-direction: column;
  margin: 1rem 2rem;
}
.image-styling {
  border-radius: $border-radius;
  margin: 1rem 1rem;
}
/*contact*/
contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.homepage-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
footer {
  background-color: $color-blue;
  border: 1rem$color-peach;
  border-style: double none none none;
}

.educaional {
  padding: 0 5rem;
  font-size: $border-radius;
  text-align: center;
  color: $color-white;
}
.allrightsreserved {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  font-size: $footer-font-size;
  color: $color-white;
}
