/* see the brand guide for colors, fonts, and images in CodePen: 
https://docs.google.com/document/d/13de5zlWmnox1BbZOiKo1p7tsirkgv0IQLG_bg1R60uE/edit?usp=sharing 

heading
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
font-family: 'Poppins', sans-serif;
all-Other
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@700&display=swap");
font-family: 'Lato', sans-serif;

#082B59 blue
#131D26 navy blue
#59331D coffee
#D98555 peach
#F2F2F2 white
*/
/*cell phone responsive*/
@media (max-width: 550px) {
  /*about page*/
  .navigation {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  mainbody {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }
  .about-body {
    display: contents;
  }
  .coffeBlock {
    margin: 2rem 0;
  }
  .coffeeimage-01 {
    width: 100%;
  }
  /*product page*/
}
/*tablet responsive*/
@media (min-width: 551px) and (max-width: 1200px) {
  .navigation {
    display: flex;
    justify-content: center;
  }
  mainbody {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    width: auto;
  }

  .coffeBlock {
    margin: 2rem 0;
    width: 100%;
  }
  .coffeeimage-01 {
    content: url(/media/images/gulp-pouring-coffee-vertical.jpg);
  }
}
body {
  background-color: #131d26;
  font-family: "Poppins", sans-serif;
  display: contents;
}
header {
  background-color: #082b59;
  border: 1rem #d98555;
  border-style: none none double none;
  font-size: 20px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-item {
  width: 250px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* icon padding*/
i {
  padding: 0.5rem;
}
a {
  color: #f2f2f2;
}
a:visited {
  color: #f2f2f2;
}
a:hover {
  color: #d98555;
}
li {
  color: #f2f2f2;
  padding: 0.5rem 1.5rem;
  list-style: none;
}
h1 {
  font-family: "Lato", sans-serif;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* about page*/
.location-link {
  color: #59331d;
  text-decoration-color: #082b59;
}
.location-link:hover {
  color: #d98555;
}
mainbody {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #f2f2f2;
  margin: 3rem rem;
  padding: 3rem;
  color: black;
}
.about-body {
  padding: 1.5rem 4rem;
  width: auto;
  min-width: 25rem;
}
.button-block {
  background-color: #59331d;
  border: 2px solid #59331d;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  color: #f2f2f2;
  font-size: 20px;
}
.button-block:hover {
  background-color: #d98555;
  border: 2px solid #d98555;
}

.focuse-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: min-content;
  background-color: #59331d;
  border-radius: 15px;
  color: #f2f2f2;
}
.coffeeimage-01 {
  border-radius: 15px 15px 0 0;
}

.imagetext {
  padding: 0.75rem 3rem;
}
/*Products*/
.product-body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.group-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.group-two {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.content {
  margin: 1rem 2rem;
}
.image-styling {
  border-radius: 15px;
  margin: 1rem 1rem;
  width: 100%;
}

footer {
  background-color: #082b59;
  border: 1rem #d98555;
  border-style: double none none none;
}

.educaional {
  padding: 0 5rem;
  font-size: 15px;
  text-align: center;
  color: #f2f2f2;
}
.allrightsreserved {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
  font-size: 15px;
  color: #f2f2f2;
}
